<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">
  <script src="https://cdn.bootcss.com/vue/2.5.13/vue.js"></script>
  <title>本地存储</title>
  <style>
    body{
      background: #f1f1f1;
    }
    .box{
      border:1px solid #ddd;
      border-radius:5px;
      padding:20px 60px;
      min-height:600px;
      background:#fff;
    }
    [v-cloak]{
      display: none
    }
  </style>
</head>
<body>
  <br>
  <div id="box">
    <div class="container box">
      <br>
      <p class="h2 text-center">本地存储测试</p>
      <br>
      <div class="save-data" class="form-inline">
        <div class="form-group">
          <label>键key:</label>
          <input type="text" v-model="key" class="form-control" id="key" placeholder="存储的键(key)">
        </div>
        <div class="form-group">
          <label>值value:</label>
          <input type="text" v-model="value" class="form-control" id="value" placeholder="存储的值(value)">
        </div>
        <div class="form-group">
          <p class="text-danger btn-sm">注：存储数据，如果存储的键存在，则更新这个数据，删除数据只需添加键key</p>
        </div>
        <input type="button" id="btn_save" @click="save_data()" class="btn btn-success" value="save data">
        <input type="button" id="btn_update" @click="update_data()" class="btn btn-warning" value="update data">
        <input type="button" id="btn_del" @click="del_data()" class="btn btn-danger" value="delete data">
      </div>
      
      <div class="show-data">
        <br>
        <table class="table table-bordered text-center table-hover">
          <thead style="background:#337ab7;color:#fff;">
            <tr>
              <th class="text-center" style="width:30%;">键(key)</th>
              <th class="text-center" style="width:70%;">值(value)</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for = "(item,index) in arr" :key="index">
              <td v-cloak>{{ item.key }}</td>
              <td v-cloak>{{ item.value }}</td>
            </tr>
          </tbody>
          <tfoot class="text-center"  v-if = "arr.length == 0">
            <tr>
              <td colspan="2">没有数据~~</td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
  
  <script type="text/javascript" src="./Local-database.js"></script>
  <script type="text/javascript">

      var vm = new Vue({
        el: "#box",
        data: {
          arr: [],
          msg: "hello vue",
          key: "",
          value: ""
        },
        created () {
          this.refresh()
        },
        methods: {

          save_data(){
            var _this = this;
            localdb.saveData( _this.key , {
              data: _this.value
            });
            this.refresh()
          },

          update_data(){
            var _this = this;
            localdb.updateData( _this.key , {
              data: _this.value
            });
            this.refresh()
          },

          del_data(){
            var _this = this;
            localdb.deleteData( _this.key );
            this.refresh()
          },

          refresh(){
            var allDataObj = localdb.getAllData();
            var tmp = {};
            this.key = "";
            this.value = "";
            this.arr = [];
            for(k in allDataObj){
              tmp.key = k;
              tmp.value = allDataObj[k];
              this.arr.push(tmp);
              tmp = {}
            }
            
          }
        }
      });
  </script>
</body>
</html>